*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --black: #000;
  --green: #3eca22;
  --transition: .5s;
  --white: #fff;
}

@font-face {
    font-family: 'Mine';
    src: url('../fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html{
  font-size: 62.5%;
}

body{
  font-family: 'Mine', sans-serif;
  font-size: 1.6rem;
  
}

main{
  display: flex;
  flex-direction: column;

}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--black);
  color: var(--green);
  border-bottom: 10px solid var(--green);
  font-size: 2rem;
}

.menu-lifes{
  display: flex;
  gap: 2.2rem;
  & img{
    width: 5rem;
  }
}

.numbers{
  display: flex;
  margin-top: 1rem;
  color: var(--white);
}
